---
import '../styles/global.css';
import Footer from '../components/footer.astro';
import Header from '../components/header.astro';
import Hamburger from '../components/Hamburger.astro';

const pageTitle = "Hola que tal hola que tal 👋";

const identity = {
    firstName: "Fernando",
    country: "México",
    occupation: "Programador",
    hobbies: ["Videojuegos", "Tech", "Pokémon", "LoL", "Futbol"]
};

const skills = ["CSS", "HTML", "Design", "UI/UX"];

const happy = true;
const finished = false;
const goal = 3;

const skillcolor = "navy";
const fontWeight = "bold";
const textCase = "uppercase";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
        <style define:vars={{skillcolor, fontWeight, textCase}}>
            h1{
                color: purple;
                font-size: 4rem;
            }
            .skill{
                color: var(--skillcolor);
                font-weight: var(--fontWeight);
                text-transform: var(--textCase);
            }
        </style>
	</head>
	<body>
        <Hamburger />
        <Header />
        <h1>{pageTitle}</h1>
        <h2>... ¡y mi nuevo sitio Astro!</h2>
      
        <p>Estoy trabajando en el tutorial introductorio de Astro. Esta es la segunda página de mi sitio web, ¡y es la primera que he construido yo mismo!</p>
      
        <p>Este sitio se irá actualizando a medida que vaya completando más partes del tutorial, ¡así que no dejes de visitarlo para ver cómo va mi viaje!</p>

        <p>Aquí hay información acerca de mi!</p>
        <ul>
            <li>Me llamo {identity.firstName}.</li>
            <li>Vivo en {identity.country} y trabajo como {identity.occupation}.</li>
            {identity.hobbies.length >= 2 &&
                <li>Dos de mis aficiones son el {identity.hobbies[4]} y el {identity.hobbies[3]}</li>
            }
        </ul>
        <p>Mis habilidades son:</p>
        <ul>
            {skills.map((skill) => <li class="skill">{skill}</li>)}
        </ul>

        {happy && <p>¡Estoy feliz de aprender Astro!</p>}

        {finished && <p>¡He terminado este tutorial!</p>}

        {goal === 3 ? <p>Mi objetivo es terminar en 3 días.</p> : <p>Mi objetivo no son 3 días.</p>}

        <slot />
	</body>
    <footer>
		<Footer />
	</footer>
    <script>
		import "../scripts/menu.js";
	</script>
</html>